In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('data/IEA Global EV Data 2024.csv')
print(df)

          region          category           parameter    mode  \
0      Australia        Historical      EV stock share    Cars
1      Australia        Historical      EV sales share    Cars
2      Australia        Historical            EV sales    Cars
3      Australia        Historical            EV stock    Cars
4      Australia        Historical            EV stock    Cars
...          ...               ...                 ...     ...
12649      World  Projection-STEPS      EV sales share    Cars
12650      World  Projection-STEPS      EV stock share    Cars
12651      World    Projection-APS  EV charging points      EV
12652      World    Projection-APS  EV charging points      EV
12653      World  Projection-STEPS      EV stock share  Trucks

                    powertrain  year             unit         value
0                           EV  2011          percent  3.900000e-04
1                           EV  2011          percent  6.500000e-03
2                          BEV  2011         Vehicles  4.900000e+01
3                          BEV  2011         Vehicles  4.900000e+01
4                          BEV  2012         Vehicles  2.200000e+02
...                        ...   ...              ...           ...
12649                       EV  2035          percent  5.500000e+01
12650                       EV  2035          percent  3.100000e+01
12651  Publicly available fast  2035  charging points  9.400000e+06
12652  Publicly available slow  2035  charging points  1.500000e+07
12653                       EV  2035          percent  9.000000e+00

[12654 rows x 8 columns]

In [6]:
df.head()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

In [7]:
df.tail()

,region,category,parameter,mode,powertrain,year,unit,value
12649,World,Projection-STEPS,EV sales share,Cars,EV,2035,percent,55.0
12650,World,Projection-STEPS,EV stock share,Cars,EV,2035,percent,31.0
12651,World,Projection-APS,EV charging points,EV,Publicly available fast,2035,charging points,9400000.0
12652,World,Projection-APS,EV charging points,EV,Publicly available slow,2035,charging points,15000000.0
12653,World,Projection-STEPS,EV stock share,Trucks,EV,2035,percent,9.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12654 entries, 0 to 12653
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      12654 non-null  object
 1   category    12654 non-null  object
 2   parameter   12654 non-null  object
 3   mode        12654 non-null  object
 4   powertrain  12654 non-null  object
 5   year        12654 non-null  int64
 6   unit        12654 non-null  object
 7   value       12654 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 791.0+ KB

In [19]:
df.describe(include = 'object')

       region    category parameter   mode powertrain      unit
count   12654       12654     12654  12654      12654     12654
unique     54           3         8      5          6         6
top     World  Historical  EV stock   Cars         EV  Vehicles
freq     1250        9174      3470   4706       4894      6842

In [13]:
df_2 = pd.read_csv('./data/EV_cars 2.csv')
print(df_2)

     Battery                             Car_name  \
0       75.0  Tesla Model Y Long Range Dual Motor
1       57.5                        Tesla Model 3
2       60.5                           BYD ATTO 3
3       61.7               MG MG4 Electric 64 kWh
4       75.0  Tesla Model 3 Long Range Dual Motor
..       ...                                  ...
355     46.3      Citroen e-Jumpy Combi XL 50 kWh
356     46.3              Fiat E-Ulysse L2 50 kWh
357     46.3         Opel Vivaro-e Combi L 50 kWh
358     68.0          Opel Zafira-e Life M 75 kWh
359     46.3              Fiat E-Ulysse L3 50 kWh

                                         Car_name_link  Efficiency  \
0    https://ev-database.org/car/1619/Tesla-Model-Y...         172
1       https://ev-database.org/car/1991/Tesla-Model-3         137
2          https://ev-database.org/car/1782/BYD-ATTO-3         183
3    https://ev-database.org/car/1708/MG-MG4-Electr...         171
4    https://ev-database.org/car/1992/Tesla-Model-3...         149
..                                                 ...         ...
355  https://ev-database.org/car/1596/Citroen-e-Jum...         257
356  https://ev-database.org/car/1721/Fiat-E-Ulysse...         250
357  https://ev-database.org/car/1601/Opel-Vivaro-e...         257
358  https://ev-database.org/car/1348/Opel-Zafira-e...         257
359  https://ev-database.org/car/1723/Fiat-E-Ulysse...         257

     Fast_charge  Price.DE.  Range  Top_speed  acceleration..0.100.
0          670.0    59017.0    435        217                   5.0
1          700.0    46220.0    420        201                   6.1
2          370.0    44625.0    330        160                   7.3
3          630.0    39990.0    360        160                   7.9
4          780.0    55220.0    505        201                   4.4
..           ...        ...    ...        ...                   ...
355        290.0    52730.0    180        130                  12.1
356        290.0    55990.0    185        130                  12.1
357        290.0    51825.0    180        130                  12.1
358        290.0    69250.0    265        130                  13.3
359        290.0    56990.0    180        130                  12.1

[360 rows x 9 columns]

In [14]:
df_2.head()

,Battery,Car_name,Car_name_link,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,Tesla Model Y Long Range Dual Motor,https://ev-database.org/car/1619/Tesla-Model-Y...,172,670.0,59017.0,435,217,5.0
1,57.5,Tesla Model 3,https://ev-database.org/car/1991/Tesla-Model-3,137,700.0,46220.0,420,201,6.1
2,60.5,BYD ATTO 3,https://ev-database.org/car/1782/BYD-ATTO-3,183,370.0,44625.0,330,160,7.3
3,61.7,MG MG4 Electric 64 kWh,https://ev-database.org/car/1708/MG-MG4-Electr...,171,630.0,39990.0,360,160,7.9
4,75.0,Tesla Model 3 Long Range Dual Motor,https://ev-database.org/car/1992/Tesla-Model-3...,149,780.0,55220.0,505,201,4.4

In [15]:
df_2.tail()

,Battery,Car_name,Car_name_link,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
355,46.3,Citroen e-Jumpy Combi XL 50 kWh,https://ev-database.org/car/1596/Citroen-e-Jum...,257,290.0,52730.0,180,130,12.1
356,46.3,Fiat E-Ulysse L2 50 kWh,https://ev-database.org/car/1721/Fiat-E-Ulysse...,250,290.0,55990.0,185,130,12.1
357,46.3,Opel Vivaro-e Combi L 50 kWh,https://ev-database.org/car/1601/Opel-Vivaro-e...,257,290.0,51825.0,180,130,12.1
358,68.0,Opel Zafira-e Life M 75 kWh,https://ev-database.org/car/1348/Opel-Zafira-e...,257,290.0,69250.0,265,130,13.3
359,46.3,Fiat E-Ulysse L3 50 kWh,https://ev-database.org/car/1723/Fiat-E-Ulysse...,257,290.0,56990.0,180,130,12.1

In [16]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Battery               360 non-null    float64
 1   Car_name              360 non-null    object
 2   Car_name_link         360 non-null    object
 3   Efficiency            360 non-null    int64
 4   Fast_charge           358 non-null    float64
 5   Price.DE.             309 non-null    float64
 6   Range                 360 non-null    int64
 7   Top_speed             360 non-null    int64
 8   acceleration..0.100.  360 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 25.4+ KB

In [17]:
df_2.describe()

,Battery,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
count,360.000000,360.000000,358.000000,309.000000,360.000000,360.000000,360.000000
mean,71.187500,195.175000,552.960894,67264.284790,369.694444,180.919444,7.288889
std,20.389849,31.909429,236.864801,34508.249544,107.315514,36.232023,3.005897
min,21.300000,137.000000,170.000000,22550.000000,135.000000,125.000000,2.100000
25%,57.500000,171.000000,360.000000,45690.000000,295.000000,155.750000,4.900000
50%,71.000000,188.000000,520.000000,56942.000000,380.000000,180.000000,6.750000
75%,85.000000,208.250000,680.000000,73100.000000,446.250000,200.000000,9.000000
max,123.000000,295.000000,1290.000000,218000.000000,685.000000,320.000000,19.100000